<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>おてまね</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'app:home' %}" class="header-link">おてまね</a>
    </header>
{% block content %}
  <h3>パスワード再設定</h3>
      <div class="container">
        <div class="text-center">
            <form method="post">
              {% csrf_token %}

              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="form-group mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                  <div class="text-danger small">
                    {% for error in form.new_password1.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                  <div class="text-danger small">
                    {% for error in form.new_password2.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
        </div>


              <ul class="text-start mx-auto" style="max-width: 400px;">
                <li>最低10文字以上必要です</li>
                <li>アルファベットの大文字、小文字、数字を組み合わせてください</li> 
                <li>記号（例：！,@,#,$,%,&）を少なくとも1つ含める必要があります</li>
                <li>連続した数字や文字は使用できません</li>
                <li>意味のない文字列にしてください</li>
              </ul>

              <div class="mb-3">
              <button type="submit" class="btn btn-primary">パスワード変更</button>
              </div>
            </form>
        </div>
      </div>
{% endblock %}