{% extends "base.html" %}
{% block content %}
{% load static%}
<body>
  <h3>メンバーとうろく</h3>
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.child_name.label_tag }} {{ form.child_name }}</p>
            <p>{{ form.birthday.label_tag }} {{ form.birthday }}</p>

            <div class="icon-choices">
                {% for radio in form.icon %}
                  <label class="icon-label">
                    {{ radio.tag }}
                    <span class="icon-emoji">{{ radio.choice_label }}</span>
                  </label>
                {% endfor %}
            </div>
            <input type="submit" value="おてつだいをはじめる" class="btn btn-success">
        </form>
    </div>
    <script src="{% static 'js/icon.js' %}"></script>
</body>
{% endblock  %}


