{% extends "base.html" %}
{% load static%}
{% block content %}
<h2>メンバー編集・削除</h2>
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <p>{{ child_form.child_name.label_tag }} {{ child_form.child_name }}</p>
            <p>{{ child_form.birthday.label_tag }} {{ child_form.birthday }}</p>

            <div class="icon-choices">
                {% for radio in child_form.icon %}
                  <label class="icon-label">
                    {{ radio.tag }}
                    <span class="icon-emoji">{{ radio.choice_label }}</span>
                  </label>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center gap-3 mt-3">
                <button type="submit" class="btn btn-primary" >保存</button>
                <a class="btn btn-secondary" href="{% url 'app:family_info' family.id %}" role="button">戻る</a>
            </div>
        </form>
    </div>
    <script src="{% static 'js/icon.js' %}"></script>
</body>
{% endblock %}


