{% extends "base.html" %}
{% load static %}
{% block content %}
      <h3>使い方ガイド</h3>
      <div class="container">
          <div class="d-flex flex-wrap justify-content-center gap-2">
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-1">ありがとうを送るとは？</button>
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-2">お手伝いの内容を変えたい</button>
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-3">家族を招待したい</button>
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-4">子どもの情報を変えたい</button>
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-5">パスワードを変更したい</button>
                  <button class="open-modal-2 btn btn-light mb-2" data-target=".modal-6">おてつだいの選び方</button>
          </div>
      </div>

          
            <div class="modal modal-1">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>ありがとうを送るとは？</h4>
                <p>達成できたお手伝いに対し、おうちの人が感謝の気持ちを込めてリアクションを残す機能です。
                  「ありがとうを送る」のページに進むと達成できたお手伝い内容が表示され、５つのイラストから「ありがとう」を選択できるようになっています。
                  その中から１つクリックすると、ホーム画面のお手伝いの記録に反映されます。</p>
              </div>
            </div>
          
            <div class="modal modal-2">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>お手伝いの内容を変えたい</h4>
                <p>マイページの「お手伝いの修正・削除」から内容の変更が可能です。
                  修正したいお手伝い名の横の「修正」ボタンを押して変更画面に進んでください。
                  また「おてつだいをつくる」から新たにお手伝いを作成することもできます。</p>
              </div>
            </div>
          
            <div class="modal modal-3">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>家族を招待したい</h4>
                <p>マイページ内の「家族を招待する」ページから招待URLボタンを押してください。
                  発行されたURLを招待したい方にメールやSNSなどで送り、
                  相手にアカウント登録を開始してもらってください。
                  なお、招待手続きにより作成したアカウントはマイページ利用可能な家族となります。
                </p>
              </div>
            </div>
          
            <div class="modal modal-4">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>子どもの情報を変えたい</h4>
                <p>マイページから「家族情報管理」ページへ進んでください。
                  家族情報と子どもメンバーが一覧で表示されているので「編集」ボタンを押して編集画面へ移動します。
                  名前やニックネームの、誕生日、アイコンの変更が可能です。
                </p>
              </div>
            </div>
          
            <div class="modal modal-5">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>パスワードを変更したい</h4>
                <p>マイページ＞アカウント編集＞パスワード変更の順で進んでください。
                  また、新規アカウント登録画面からはパスワードリセットを行うことができます。</p>
              </div>
            </div>

            <div class="modal modal-6">
              <div class="modal-content">
                <span class="close-modal">&times;</span>
                <h4>おてつだいの選び方</h4>
                <p>「おてつだいをえらぶ」画面から選択することができます。（※最大10件まで）
                  オリジナルのお手伝いやもとからあるお手伝いから「えらぶ」ボタンを押すと「えらんだおてつだい」画面にあるリストに登録されます。
                  リストを変更したい場合は「えらんだおてつだい」画面にある「やめる」ボタンを押してリストから削除してください。</p>
              </div>
            </div>
            
    <script src="{% static 'js/guide.js' %}"></script>
{% endblock %}
