<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <meta charset='utf-8'>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <title>おてまね</title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
      <div class="container">
        <h3>使い方ガイド</h3>
        {% comment %} <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
        </button>
  
        <!-- Modal -->
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">ありがとうを送るとは？</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        <button type="submit" class="btn btn-light">ありがとうを送るとは？</button>
        <button type="submit" class="btn btn-light">お手伝いの内容を変えたい</button>
        <button type="submit" class="btn btn-light">家族を招待したい</button>
        <button type="submit" class="btn btn-light">子どもの情報を変えたい</button>
        <button type="submit" class="btn btn-light">パスワードを変更したい</button>
        <a href="/app/user/">マイページへ戻る</a>
      </div>
    </body>
</html>