{% extends "base.html" %}
{% load static%}
{% block content %}
<h3>おてつだいをえらぶ</h3>
{% if messages %}
  <div class="mb-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<p class="ms-5">💬おてつだいは１０こまでえらべるよ</p>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-3">
    {% for help in page_obj %}
      <div class="col">
        <div class="help-item border p-3 h-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-2" style="min-width: 0;">
              <div class="fw-bold mb-1">{{ help.help_name }}</div>
              <div class="text-muted small">
                {% for reward in help.rewards.all %}
                  {% if reward.reward_type == 1 %}
                    💰 {{ reward.reward_prize }}えん<br>
                  {% elif reward.reward_type == 0 %}
                    🍩 おかし 1こ<br>
                  {% elif reward.reward_type == 2 %}
                    🙏 {{ reward.reward_detail }}<br>
                  {% endif %}
                {% empty %}
                  — 報酬なし
                {% endfor %}
              </div>
            </div>

            <!-- 右: ボタン -->
          <form method="post" class="d-flex align-items-center" style="min-width: 100px;">
            {% csrf_token %}
            <input type="hidden" name="help_id" value="{{ help.id }}">
            <button type="submit" class="btn btn-success w-100">えらぶ</button>
          </form>

          </div>
        </div>
      </div>
    {% empty %}
      <p>お手伝いがありません。</p>
    {% endfor %}
  </div>



  <div class="pagination mt-4 d-flex justify-content-center">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">前</a>
          {% endif %}
          <span class="current">
              ページ {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">次</a>
          {% endif %}
      </span>
  </div>
</div>


{% endblock %}
