{% extends "base.html" %}
{% block content %}
<head>
  <h3>おてつだいをつくる</h3>
</head>
<body>
        <form method="post">
           {% csrf_token %}
            <h4>🧹 どんなおてつだい？</h4>
            {{ helps_form.help_name.label }} {{ helps_form.help_name }}
        
            <h4>🎁 なにがほしい？</h4>
            {% comment %} {% for radio in rewards_form.reward_type %} {% endcomment %}
            <div class="reward-option">
              <label><input type="radio" name="reward_type" value="0"> おかし</label>
            </div>
        
            <div class="reward-option">
              <label><input type="radio" name="reward_type" value="1"> おかね</label>
              {{ rewards_form.reward_prize }}
            </div>
        
            <div class="reward-option">
              <label><input type="radio" name="reward_type" value="2"> おねがい</label>
              {{ rewards_form.reward_detail }}
            </div>
            <button type="submit" >つくる</button>
          </form>
          
</body>
{% endblock  %}

