{% extends "base.html" %}
{% block content %}
<h3>おてつだいを修正</h3>

<div class="container">
  <div class="text-center">
    <form method="post">
      {% csrf_token %}

      <h4>どんなおてつだい？</h4>
      {{ helps_form.help_name.label }} {{ helps_form.help_name }}

      <h4>なにがほしい？</h4>

      <div class="reward-option">
        <label>
          <input type="radio" name="reward_type" value="0"
            {% if rewards_form.instance.reward_type == 0 %}checked{% endif %}>
          おかし
        </label>
      </div>

      <div class="reward-option">
         <label>
          <input type="radio" name="reward_type" value="1"
            {% if rewards_form.instance.reward_type == 1 %}checked{% endif %}>
          おかね
        </label>
        {{ rewards_form.reward_prize }}
      </div>

      <div class="reward-option">
        <label>
          <input type="radio" name="reward_type" value="2"
            {% if rewards_form.instance.reward_type == 2 %}checked{% endif %}>
          おねがい
        </label>
        {{ rewards_form.reward_detail }}
      </div>
      
      <div class="mb-5">
        <button type="submit" class="btn btn-primary btn-sm px-4">保存</button>
      </div>

    </form>
  </div>
</div>  
{% endblock %}
