{% extends "base.html" %}
{% block content%}
<h2>お手伝い一覧</h2>
<table class="table">
  <tbody>
  {% for help in helps %}
    <td>{{ help.help_name }}</td>
    <td>
      {% for reward in help.rewards.all %}
      —
      {% if reward.reward_type == 1 %}
        {{ reward.reward_prize }}えん
      {% elif reward.reward_type == 0 %}
        おかし１つ
      {% elif reward.reward_type == 2 %}
        {{ reward.reward_detail }}

      {% endif %}
      {% endfor %}</td>
    <td>
      <a class="btn btn-light" href="{% url 'app:help_update' help.pk %}">修正</a> 
      <a class="btn btn-light" href="{% url 'app:help_delete' help.pk %}">削除</a>
    </td> 
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
