{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div class="d-flex align-items-center" style="gap: 10px; margin-top: 10px;">
  <div class="child-icon" style="font-size: 2rem;">
    {% if selected_child != 'all' %}{{ selected_child.icon }}{% else %}※{% endif %}
  </div>
  <form method="post" action="{% url 'app:set_child' %}">
    {% csrf_token %}
    <select id="childSelect" name="child_id" onchange="this.form.submit()">
      {% for child in children %}
        <option value="{{ child.id }}" {% if child == selected_child %}selected{% endif %}>{{ child.child_name }}</option>
      {% endfor %}
      <option value="all" {% if selected_child == "all" %}selected{% endif %}>全員</option>
    </select>
  </form>
</div>

  <div class="container">
    <div class="text-center my-4">
      <div class="d-flex justify-content-center align-items-center">
        <button id="prevMonth" >◁ 前月</button>
        <h2 id="monthTitle" class="mb-0"></h2>
        <button id="nextMonth">翌月 ▷</button>
      </div>
      
{% if selected_child == "all" %}
<div class="row">
{% for record_group in monthly_records %}
  <div class="col-12 col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h3>{{ record_group.child }}</h3>
        {% comment %} {% for record in record_group.records %} {% endcomment %}
          {% comment %} <div class="d-flex align-items-center mb-2"> {% endcomment %}
          {% with money_total=0 sweets_total=0 %}
            {% for record in record_group.records %}
              {% for reward in record.reward %}
                {% if reward.type == "おかね" %}
                  {% with money_total=money_total|add:reward.prize %}
                  {% endwith %}
                {% else %}
                  {% if reward.type == "おかし" %}
                    {% with sweets_total=sweets_total|add:"1" %}
                    {% endwith %}
                  {% elif reward.type == "おねがい" %}
                    {% with detail_total=detail_total|add:"1" %}
                    {% endwith %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
              <h4 class="mt-3">おかね💰 {{ record_group.money_total }} えん</h4>
              <h4 class="mt-3">おかし🍩 {{ record_group.sweets_total }} こ</h4>
              <h4 class="mt-3">おねがい🙏 {{ record_group.detail_total }} こ</h4>
          {% endwith %}
      </div>
    </div>
  </div>
{% endfor %}
</div> 

{% else %}
  {% for record in monthly_records %}
      <h3 id="moneyTotal" class="mt-3">おかね💰 0 えん</h3>
      <h3 id="sweetsTotal" class="mt-3">おかし🍩 0 こ</h3>
      <h3 id="detailTotal" class="mt-3">おねがい🙏 0 こ</h3>
      <br><br>     
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-3 mt-3">
        <h4 id="heartTotal">💗 0</h4>
        <h4 id="smileTotal">😊 0</h4>
        <h4 id="goodTotal">👍 0</h4>
        <h4 id="flowerTotal">🌸 0</h4>
        <h4 id="niceTotal">😎 0</h4>
    </div>
  {% endfor %}
{% endif %}


      <!-- モーダルボタン -->
        {% if selected_child != "all" %}
         <button id="openModal" class="open-modal">くわしくみる</button>
        {% endif %}
      
      
      <!-- モーダル -->
      <div id="myModal" class="modal" style="display:none;">
        <div class="modal-content">
          <span id="closeModal" class="close-modal">&times;</span>
          <div id="helpRecordsContainer"></div>
          
          {% comment %} {% if monthly_records %}
            {% for record in monthly_records %}
              <div class="d-flex align-items-center mb-2" style="display: flex; align-items: center;">
                <div class="me-3">{{ record.date }}</div>
                <div class="me-3">{{ record.help }}</div>
                <div class="me-3">
                    {% for reward in record.reward %}
                    
                      {% if reward.type == "おかね" %}
                        {{ reward.prize }}えん
                      {% elif reward.type == "おかし" %}
                        おかし1こ
                      {% else %}
                        {{ reward.type }}：{{ reward.detail }}
                      {% endif %}
                    {% endfor %}
                </div>
                <div>{{ record.reaction }}</div>
              </div>
              {% endfor %}
          {% else %}
            <div class="text-muted">今月の記録はありません。</div>
          {% endif %}  {% endcomment %}
        </div>
      </div>

    </div>
  </div>

</body>
  <script>
    window.monthlyRewards = {{ monthly_rewards|safe }};
    window.monthlyRecords = {{ monthly_records|json_script:"monthly-records" }};
    window.currentMonth = "{{ current_month }}";
  </script>

  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/home_reward.js' %}"></script>

{% endblock %}