{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>おてまね</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
        <a href="{% url 'app:home' %}" class="header-link">おてまね</a>
        <div class="header-links">
            <a href="{% url 'app:user' %}" class="header-link-2">マイページ</a>
        </div>
    </header>
    <h3>家族を招待する</h3>
    <div class="d-flex align-items-center m-3 p-2" style="gap: 10px;">
      <div class="instruction-box">
        <h4>利用方法</h4>
        <p>利用するをクリックし、リンク先URLを表示
        <br>招待したい家族にリンク先を共有しアカウントを登録してもらう</br>
        ※発行されたURLは一度利用すると失効します。</p>
      </div>
    </div>
    
      <div class="centered-content">
          <meta name="csrf-token" content="{{ csrf_token }}">
          <button id="generate-btn" >家族招待URLを発行</button>
          <div id="result" style="margin-top: 20px; font-weight: bold;"></div>
          <input type="text" id="invite-url" class="form-control mt-2 w-75 mx-auto d-block" readonly>
      </div>
    </div>
    <script src="{% static 'js/invite.js' %}"></script>
  </body>
</html>