{% extends 'base.html' %}
{% block content %}
<h2>マイページ</h2>

<div class="d-flex justify-content-center align-items-center">
    
    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label for="password" class="form-label">パスワードを入力してください</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      {% if error %}
        <p style="color:red;">{{ error }}</p>
      {% endif %}
      <br>
        <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">送信</button>
            <a href="{% url 'app:home' %}" class="btn btn-secondary">戻る</a>
        </div>
    </form>
</div>
{% endblock %}
