{% extends "base.html" %}
{% block content %}
<h3>パスワード変更</h3>
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {% for field in form %}
        <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
            <div class="col-sm-8">
                {{ field }}
                {% if field.errors %}
                  <div class="text-danger small">
                    {% for error in field.errors %}
                     <p> {{ error }} </p>
                    {% endfor %}
                  </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}

        <div class="row mb-3">
            <div class="offset-sm-4 col-sm-8">
                <ul class="text-muted small">
                    <li>最低10文字以上必要です</li>
                    <li>アルファベットの大文字、小文字、数字を組み合わせてください</li>
                    <li>記号（例：! @ # $ % & -）を少なくとも１つ含める必要があります</li>
                    <li>連続した数字や文字は使用できません</li>
                    <li>意味のない文字列にしてください</li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mb-3">
            <button type="submit" class="btn btn-primary me-3">登録</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'app:user' %}'">キャンセル</button>
        </div>
    </form>
</div>
{% endblock %}
