{% extends "base.html" %}

{% block headertitle %}パスワード変更{% endblock  %}

{% block content %}
<div class="row justify-content-md-center">
<div  class="col-6">
    <p>・最低10文字以上必要です</p>
    <p>・アルファベットの大文字、小文字、数字を組み合わせてください</p>
    <p>・記号（例：！,@,#,$,%,&）を少なくとも１つ含める必要があります</p>
    <p>・連続した数字や文字は使用できません</p>
    <p>・意味のない文字列にしてください</p>
<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-sm">
        <button type="submit" class="btn btn-warning btn-block">登録</button>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-warning btn-block" onClick="javascript:history.go(-1);">キャンセル</button>
      </div>
    </div>
</form>
</div>
</div>
{% endblock %}