{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>おてまね</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
        <a href="/app/home/" class="header-link">おてまね</a>
        <div class="header-links">
            <a href="/app/user_login/" class="header-link-2">ログイン</a>
        </div>
    </header>
    {% block content %}
    <div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
        <h2 class="mb-4 text-center">おうちのひと登録</h2>
        <form method="POST" class="w-100" style="max-width: 400px;">
            {% csrf_token %}

            <div class="mb-3">
            {{ form.user_name.label_tag }} 
            {{ form.user_name }}
            </div>
            
            <div class="mb-3">
            {{ form.relationship.label_tag }}
            {{ form.relationship }}
            </div>

            <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            </div>

              <!-- パスワード1 -->
            <div class="mb-3 position-relative">
                {{ form.password1.label_tag }}
                <div class="d-flex align-items-center">
                    {{ form.password1 }}
                    <button type="button" 
                      class="help-icon ms-2" 
                      data-bs-toggle="popover" 
                      data-bs-trigger="click"
                      title="パスワードルール"
                      data-bs-content="・最低１０文字以上必要です
                      ・アルファベットの大文字、小文字、数字を組み合わせてください
                      ・記号（例：!,@,#,$,%,&）を含めてください
                      ・連続した数字や文字は使用できません
                      ・意味のない文字列にしてください">
                      ?
                    </button>
                </div>
            </div>
          
            <div class="mb-3">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
          
            <!-- エラーメッセージ -->
            {% if form.errors %}
              <div class="alert alert-danger">
                入力に誤りがあります。もう一度ご確認ください。
              </div>
            {% endif %}
          
            
              <input type="submit" class="btn btn-primary  w-100" value="登録">
        </form>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/popover-init.js' %}"></script>

  </body>
{% endblock %}