{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="emoji-reactions">
            {% comment %} <form method="POST" action="{% url 'add_reaction' help.id %}"> {% endcomment %}
                {% csrf_token %}
                <button name="emoji" value="💗" class='emoji-btn'>💗</button>
                <button name="emoji" value="😊" class='emoji-btn'>😊</button>
                <button name="emoji" value="👍" class='emoji-btn'>👍</button>
                <button name="emoji" value="🌸" class='emoji-btn'>🌸</button>
                <button name="emoji" value="😎" class='emoji-btn'>😎</button>
            </form>
        </div>
    </div>
</body>
{% endblock  %}


